@mixin flexCenter($direction, $bg) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $bg;
}

header {
    // could use row
    @include flexCenter(column, lightblue);

    color: $textColor;
    height: 100vh;

    button {
        background: $primaryBtn;
        border: none;
        padding: 10px;
        margin: 0px;

        &:hover {
            background: red;
            &::after {
                content:' Hello world';
            }
        }

    }
}